h1 {
    font-weight: bold;
    font-size: 34pt;
}
h4 {
    font-size: 24px;
}
.container {
    @media(min-width: @screen-desktop){
        padding-top: 200px;
        h1,h4 {
            line-height: 24px;
        }
    }
    @media(max-width: @screen-phone){
        padding-top: 20px;
    }
    @media(min-width: @screen-tablet){
        padding-top: 200px;
    }
}
.list-inline > li {
    padding-right: 10px;
}
ul li.foro a {
    color: #1BDD6D;
}
ul li.github a {
    color: #4183C4;
}
ul li.quora a {
    color: #A82400;
}
ul li.angellist a {
    color: #111111;
}
ul li.linkedin a {
    color: #4091B9;
}
ul li.hackernews a {
    color: #FF6600;
}
li a img{
    padding-right:5px;
}

.links {
    @media(min-width: @screen-desktop){
        padding-top: 30px;
    }
}
.profile img{
    border-radius: 15%;
}
